* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(204, 204, 204);
  text-align: center;
}

header h1 {
  font-size: 1.2em;
}

nav {
  background-color:rgb(18, 0, 136);
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: larger;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

nav a:hover {
  background-color: #555;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
}

.papers-grid {
  column-count: 3;
  column-gap: 20px;
  margin-bottom: 20px;
  background-color: aqua;
}

.papers-grid ul {
  list-style: none;
}

.papers-grid ul li {
  cursor: pointer;
}

.papers-lookup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.papers-lookup form {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.papers-lookup input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
}

.papers-lookup button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
}

/*.papers-grid div {
  background-color: #f9f9f9;
  padding: 8px;
  border: 1px solid #ccc;
  cursor:crosshair;
}

.papers-grid div:hover {
  background-color: #e0e0e0;
}*/

@media(max-width: 600px) {
  .papers-grid {
    column-count: 2;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}

.container h2 {
  text-align: center;
  padding: 15px;
}

.text-container {
  flex: 0 0 66.66%;
  overflow-y: auto;
}

.note-viewer {
  flex: 1;
  overflow-y: auto;
  min-width: 300px;
  padding: 20px;
}

.note-viewer.active {
  display: block;
}

@media(max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .text-container,
  .note-viewer {
    flex: none;
    width: 100%;
    margin-right: 0;
  }

  .note-viewer {
    height: auto;
  }
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  float: right;
}

.note-viewer-container {
  flex: 2;
  position: relative;
  height: 100vh;
  overflow-y: auto;
}

.error-message {
  color: red;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.loading-message {
  color: blue;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.main-content {
  display: flex;
  padding: 20px;
}

.left-content {
  flex: 2;
  padding: 20px;
  border-right: 2px solid #ccc;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
}

.right-content {
  flex: 1;
  padding: 20px;
}



footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* CSS import of Google font 'Permanent Marker' */
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}

/* CSS import of Google font 'Cinzel' for the nav bar */

.cinzel-nav {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25em;
}
