* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(204, 204, 204);
  text-align: center;
}

nav {
  background-color:rgb(18, 0, 136);
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: larger;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

nav a:hover {
  background-color: #555;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
}

.main-content {
  display: flex;
  padding: 20px;
}

.left-content {
  flex: 2;
  padding: 20px;
  border-right: 2px solid #ccc;
}

.right-content {
  flex: 1;
  padding: 20px;
}

.ref-number {
  font-weight: lighter;
  color: gray;
  margin-right: 5px;
}

.tab-margin {
  margin-left: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* CSS import of Google font 'Permanent Marker' */
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}

/* CSS import of Google font 'Cinzel' for the nav bar */

.cinzel-nav {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25em;
}
