body {
  font-family: Arial, sans-serif;
  margin: 10px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a:link {
  color:firebrick;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  grid-template-areas: 
    "header header"
    "content sidebar"
    "footer footer";
}

.header {
  grid-area: header;
  text-align: center;
}

.content {
  grid-area: content;
  overflow: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.25em;
  padding: 10px;
}

.sidebar {
  grid-area: sidebar;
  border-left: 1px solid #ccc;
  overflow: auto;
  padding: 5px;
}

.footer {
  grid-area: footer;
  height: 150px;
  overflow: auto;
  padding: 10px;
}

/* for the reference text numbering system that introduces paragraphs */
.reftext {
  font-size: 0.75em;
  color: dimgray;
  margin-right: 4em;
}

/* copyright notice that remains at the bottom */
.copyright {
  grid-area: copyright;
  height: 50px;
  background-color: #f3f3f3;
  color: #606;
  text-align: center;
  line-height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* CSS import of Google font 'Permanent Marker' */
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}

/* CSS import of Google font 'Cinzel' for the nav bar */

.cinzel-nav {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25em;
}
